@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

* {
    box-sizing: border-box;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-0,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12 {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.col-xs {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-xs-1 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.col-xs-2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.col-xs-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.col-xs-4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.col-xs-5 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.col-xs-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-7 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.col-xs-8 {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

.col-xs-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.col-xs-10 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.col-xs-11 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

.col-xs-12 {
  flex-basis: 100%;
  max-width: 100%;
}


@media only screen and (min-width: 48em) {
  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .col-sm {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-sm-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-sm-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-sm-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-sm-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-sm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-sm-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media only screen and (min-width: 64em) {
  .container {
    width: 65rem;
  }

  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .col-md {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-md-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-md-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-md-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-md-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-md-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}

form {
    // max-width: 960px;
    margin: 0 auto;
    position: relative;
    font-family: 'Open Sans';
    padding: 15px;
    background-color: #ffffff;
}


.evaluation {
  &-inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media (max-width: 1023px) {
      justify-content: space-between;
      margin-top: 1rem;
    }
  }

  &-result {
    margin-right: 10px;
    
    p, span {
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
      margin-bottom: 0 !important;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      color: #063B6D;
    }

    span {
      display: inline-block;
      // margin-left: 10px;
      font-weight: 600;
      font-size: 27px;
      color: #063B6D;
    }
  }

  &_info {
    margin-top: 3rem;
    cursor: default;
    font-weight: 600;
    font-size: 18px;
    color: #063B6D;
  }
}

.material-button {
  padding: 13px 25px;
  font-size: 18px;
  position: relative;
  color: #fff;
  background-color: #5CD2C6;
  border: 0;
  font-weight: 600;
  border-radius: 74px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.15);
  transition: all 200ms ease-in-out;
  cursor: pointer;
  overflow: hidden;
  margin-top: 15px;
  &__full-width {
    width: 100%;
  }

  &__disabled {
      color: rgba(0, 0, 0, 0.26);
      box-shadow: none;
      background-color: rgba(0, 0, 0, 0.12);
      &:hover {
        color: rgba(0, 0, 0, 0.26) !important;
      }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px;
  }

  &:focus {
    outline: none;
  }
}


$primary-color: #E2001A;
$form-color: #939393;
$active-font: #3c3c3c;
$theme-color: #2196f3;
$error-color: #d50000;

.material-form {
  padding: 15px;
  background-color: #fff;
}

.select-block {
  $size: 52px;
  $padding: 15px;
  width: 100%;
  padding: 12px 0 0;
  position: relative;
  margin-bottom: 3px;
  transition: all .3s ease-out;
  label {
    position: absolute;
    left: 0;
    top: 32px;
    height: 20px;
    width: 100%;
    padding-left: 12px;
    transition: all .3s ease-out;
    margin: 0;
    font-weight: 600;
    font-size: 15px;
    z-index: 1;
    color: #063b6de0;
    font-size: 12px;
    line-height: 10px;
    white-space: nowrap;
    overflow: hidden;
  }
  .active-list {
    width: 100%;
    height: $size;
    padding: 0;
    color: #c9c9c9;
    position: relative;
    z-index: 2;
    font-weight: 500;

    padding-left: 12px;

    cursor: pointer;
    font-size: 0;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 20px;
    box-sizing: border-box;
    &:after {
      content: "▼";
      position: absolute;
      right: 0;
      background-color: #F3F8FD;
      border-radius: 5px;
      top: 50%;
      width: 20px;
      padding-left: 5px;
      text-align: left;
      height: $size;
      line-height: $size;
      color: #063B6D;
      font-size: 14px;
      margin-top: -$size/2;
    }
  }
  &.added {
    label {
      display: none;
    }
    .active-list {
      color: #063B6D;
      font-size: 15px;
      font-weight: 600;
    }
  }
  &.added.focus {
    label {
      display: none;
    }
  }
  &:hover:not(&__disabled) {
    & .custom-select,
    & .active-list:after {
      background-color: #E7F2FD;
    }
  }
  &.focus {
    .active-list {
      border: 1px solid #063B6D;
      border-radius: 5px;
    }
    .custom-select, 
    .active-list:after {
      background-color: #E7F2FD;
    }
    .active-list:after {
      content: "▲";
      color: $active-font;
    }
    .custom-select::before {
      left: 0%;
      width: 100%;
    }
  }
  .custom-select {
    display: inline-block;
    height: $size;
    position: relative;
    padding: 0;
    width: 100%;
    line-height: $size;
    background-color: #F3F8FD;
    border-radius: 5px;

    .list-field {
      width: 100%;
      height: $size;
      padding: 0 $padding;
      position: absolute;
      top: 0;
      left: 0;
      display: none;
    }
    .drop-down-list {
      width: 100%;
      height: auto;
      max-height: 250px;
      overflow-x: auto;
      z-index: 99;
      padding: 0;
      margin: 0;
      position: absolute;
      top: 100%;
      margin-top: 2px;
      left: 0;
      background-color: white;
      display: none;
      box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
      li {
        padding: $padding*.70 $padding;
        cursor: pointer;
        font-size: 14px;
        color: #063B6D;
        line-height: normal;
        background-color: #fafafa;
        background-color: #fff;
        transition: all .3s ease-out;
        input[type="checkbox"] {
          margin: 0;
          margin-right: 8px;
          position: relative;
          top: 1px;
        }
        label {
          font-weight: normal;
          cursor: pointer;
          display: block;
        }
      }
      li:hover {
        color: $active-font;
        background-color: rgba(black, .05);
      }
    }
    .drop-down-list .add-new {
      border-top: solid 1px #c8c8c8;
      padding: $padding;
      color: $active-font;
      i {
        font-size: 16px;
        margin-top: 3px;
        color: $form-color;
      }
    }
  }
}

//tablet and above devices
@media (min-width: 768px) {
  .contact-wrap {
    width: 600px;
    margin: auto;
  }
  .material-form {
    .input-block {
      .form-control {
        // font-size: 18px;
      }
    }
  }
  .select-block {
    label {
      // font-size: 18px;
      line-height: 14px;
    }
    &.added {
      .active-list {
        // font-size: 18px;
      }
    }
    &.focus {
      .active-list {
        // font-size: 18px;
      }
    }
    .custom-select {
      .drop-down-list {
        li {
          // font-size: 15px;
        }
      }
    }
  }
  .material-form {
    padding: 30px;
  }
}

.drop-down__active {
  background-color: #f4f4f4 !important;
}
.select-block__disabled {
  .custom-select,
  .active-list:after {
    background-color: #f9f9f9;
    border-bottom-color: #f9f9f9;
  }
  label {
    color: #bbb9b9;
  }
}